<div class='row'>
  <div class="col">
    <div class="row justify-content-around">
      <div class="col-3 h4 mt-4 mb-4 bg-light text-center">商品一覧</div>
        <%= link_to '＋', new_admin_item_path, class:"mt-4 mb-4 btn btn-primary rounded-circle p-0 align-items-center" ,style:"width:2rem;height:2rem;" %>
    </div>
    <div class="col-10 offset-1">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="col-2">商品ID</th>
            <th class="col-3">商品名</th>
            <th class="col-2">税抜価格</th>
            <th class="col-3">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.notax_price %></td>
              <td><%= item.genre.name %></td>
                <% if item.is_active %>
                <td class="text-success">販売中</td>
                <% else %>
                <td class="text-secondary">販売停止中</td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>