<div class='row'>
  <div class="col-3">
    <%= render 'genre'%>
  </div>
    <div class="col-8  offset-1">
      <div class="col h4 mt-5 mb-3 pl-0 text-blackr font-weight-bold">商品一覧(全<%=  @items.count%>件)</div>
      <div class="row">
          <% @items.each do |item| %>
            <% if item.is_active %>
              <div class="col-3">
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.get_image,size: "145x100" %>
                  <p class="font-weight-bold mt-3 mb-1"><%= @items.name %></p>
                <% end %>
              <p class="font-weight-bold"><%= item.notax_price %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
